@font-face {
    font-family: 'Neometric';
    src: url('Neometric-HeavyItalic.eot');
    src: local('Neometric Heavy Italic'), local('Neometric-HeavyItalic'),
        url('Neometric-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-HeavyItalic.woff2') format('woff2'),
        url('Neometric-HeavyItalic.woff') format('woff'),
        url('Neometric-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Black.eot');
    src: local('Neometric Alt Black'), local('NeometricAlt-Black'),
        url('NeometricAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Black.woff2') format('woff2'),
        url('NeometricAlt-Black.woff') format('woff'),
        url('NeometricAlt-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-ExtraLightItalic.eot');
    src: local('Neometric Extra Light Italic'), local('Neometric-ExtraLightItalic'),
        url('Neometric-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-ExtraLightItalic.woff2') format('woff2'),
        url('Neometric-ExtraLightItalic.woff') format('woff'),
        url('Neometric-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Medium.eot');
    src: local('Neometric Medium'), local('Neometric-Medium'),
        url('Neometric-Medium.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Medium.woff2') format('woff2'),
        url('Neometric-Medium.woff') format('woff'),
        url('Neometric-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Hairline.eot');
    src: local('Neometric Alt Hairline'), local('NeometricAlt-Hairline'),
        url('NeometricAlt-Hairline.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Hairline.woff2') format('woff2'),
        url('NeometricAlt-Hairline.woff') format('woff'),
        url('NeometricAlt-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Light.eot');
    src: local('Neometric Light'), local('Neometric-Light'),
        url('Neometric-Light.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Light.woff2') format('woff2'),
        url('Neometric-Light.woff') format('woff'),
        url('Neometric-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Black.eot');
    src: local('Neometric Black'), local('Neometric-Black'),
        url('Neometric-Black.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Black.woff2') format('woff2'),
        url('Neometric-Black.woff') format('woff'),
        url('Neometric-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-BlackItalic.eot');
    src: local('Neometric Black Italic'), local('Neometric-BlackItalic'),
        url('Neometric-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-BlackItalic.woff2') format('woff2'),
        url('Neometric-BlackItalic.woff') format('woff'),
        url('Neometric-BlackItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-MediumItalic.eot');
    src: local('Neometric Medium Italic'), local('Neometric-MediumItalic'),
        url('Neometric-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-MediumItalic.woff2') format('woff2'),
        url('Neometric-MediumItalic.woff') format('woff'),
        url('Neometric-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-ExtraBold.eot');
    src: local('Neometric Extra Bold'), local('Neometric-ExtraBold'),
        url('Neometric-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Neometric-ExtraBold.woff2') format('woff2'),
        url('Neometric-ExtraBold.woff') format('woff'),
        url('Neometric-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-ExtraLightItalic.eot');
    src: local('Neometric Alt ExtLt Ita'), local('NeometricAlt-ExtraLightItalic'),
        url('NeometricAlt-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-ExtraLightItalic.woff2') format('woff2'),
        url('NeometricAlt-ExtraLightItalic.woff') format('woff'),
        url('NeometricAlt-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-BoldItalic.eot');
    src: local('Neometric Bold Italic'), local('Neometric-BoldItalic'),
        url('Neometric-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-BoldItalic.woff2') format('woff2'),
        url('Neometric-BoldItalic.woff') format('woff'),
        url('Neometric-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-HairlineItalic.eot');
    src: local('Neometric Alt Hairline Italic'), local('NeometricAlt-HairlineItalic'),
        url('NeometricAlt-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-HairlineItalic.woff2') format('woff2'),
        url('NeometricAlt-HairlineItalic.woff') format('woff'),
        url('NeometricAlt-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-ExtraLight.eot');
    src: local('Neometric Extra Light'), local('Neometric-ExtraLight'),
        url('Neometric-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Neometric-ExtraLight.woff2') format('woff2'),
        url('Neometric-ExtraLight.woff') format('woff'),
        url('Neometric-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-ExtraBold.eot');
    src: local('Neometric Alt Extra Bold'), local('NeometricAlt-ExtraBold'),
        url('NeometricAlt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-ExtraBold.woff2') format('woff2'),
        url('NeometricAlt-ExtraBold.woff') format('woff'),
        url('NeometricAlt-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-LightItalic.eot');
    src: local('Neometric Light Italic'), local('Neometric-LightItalic'),
        url('Neometric-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-LightItalic.woff2') format('woff2'),
        url('Neometric-LightItalic.woff') format('woff'),
        url('Neometric-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Bold.eot');
    src: local('Neometric Alt Bold'), local('NeometricAlt-Bold'),
        url('NeometricAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Bold.woff2') format('woff2'),
        url('NeometricAlt-Bold.woff') format('woff'),
        url('NeometricAlt-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-MediumItalic.eot');
    src: local('Neometric Alt Medium Italic'), local('NeometricAlt-MediumItalic'),
        url('NeometricAlt-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-MediumItalic.woff2') format('woff2'),
        url('NeometricAlt-MediumItalic.woff') format('woff'),
        url('NeometricAlt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-BoldItalic.eot');
    src: local('Neometric Alt Bold Italic'), local('NeometricAlt-BoldItalic'),
        url('NeometricAlt-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-BoldItalic.woff2') format('woff2'),
        url('NeometricAlt-BoldItalic.woff') format('woff'),
        url('NeometricAlt-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-ExtraLight.eot');
    src: local('Neometric Alt Extra Light'), local('NeometricAlt-ExtraLight'),
        url('NeometricAlt-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-ExtraLight.woff2') format('woff2'),
        url('NeometricAlt-ExtraLight.woff') format('woff'),
        url('NeometricAlt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-ExtraBoldItalic.eot');
    src: local('Neometric Alt Extra Bold Italic'), local('NeometricAlt-ExtraBoldItalic'),
        url('NeometricAlt-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-ExtraBoldItalic.woff2') format('woff2'),
        url('NeometricAlt-ExtraBoldItalic.woff') format('woff'),
        url('NeometricAlt-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Hairline.eot');
    src: local('Neometric Hairline'), local('Neometric-Hairline'),
        url('Neometric-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Hairline.woff2') format('woff2'),
        url('Neometric-Hairline.woff') format('woff'),
        url('Neometric-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Regular.eot');
    src: local('Neometric Regular'), local('Neometric-Regular'),
        url('Neometric-Regular.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Regular.woff2') format('woff2'),
        url('Neometric-Regular.woff') format('woff'),
        url('Neometric-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Heavy.eot');
    src: local('Neometric Alt Heavy'), local('NeometricAlt-Heavy'),
        url('NeometricAlt-Heavy.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Heavy.woff2') format('woff2'),
        url('NeometricAlt-Heavy.woff') format('woff'),
        url('NeometricAlt-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-HairlineItalic.eot');
    src: local('Neometric Hairline Italic'), local('Neometric-HairlineItalic'),
        url('Neometric-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-HairlineItalic.woff2') format('woff2'),
        url('Neometric-HairlineItalic.woff') format('woff'),
        url('Neometric-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Light.eot');
    src: local('Neometric Alt Light'), local('NeometricAlt-Light'),
        url('NeometricAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Light.woff2') format('woff2'),
        url('NeometricAlt-Light.woff') format('woff'),
        url('NeometricAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-BlackItalic.eot');
    src: local('Neometric Alt Black Italic'), local('NeometricAlt-BlackItalic'),
        url('NeometricAlt-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-BlackItalic.woff2') format('woff2'),
        url('NeometricAlt-BlackItalic.woff') format('woff'),
        url('NeometricAlt-BlackItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-ExtraBoldItalic.eot');
    src: local('Neometric Extra Bold Italic'), local('Neometric-ExtraBoldItalic'),
        url('Neometric-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-ExtraBoldItalic.woff2') format('woff2'),
        url('Neometric-ExtraBoldItalic.woff') format('woff'),
        url('Neometric-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Medium.eot');
    src: local('Neometric Alt Medium'), local('NeometricAlt-Medium'),
        url('NeometricAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Medium.woff2') format('woff2'),
        url('NeometricAlt-Medium.woff') format('woff'),
        url('NeometricAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Italic2.eot');
    src: local('Neometric Alt Italic 2'), local('NeometricAlt-Italic2'),
        url('NeometricAlt-Italic2.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Italic2.woff2') format('woff2'),
        url('NeometricAlt-Italic2.woff') format('woff'),
        url('NeometricAlt-Italic2.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-LightItalic.eot');
    src: local('Neometric Alt Light Italic'), local('NeometricAlt-LightItalic'),
        url('NeometricAlt-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-LightItalic.woff2') format('woff2'),
        url('NeometricAlt-LightItalic.woff') format('woff'),
        url('NeometricAlt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-Regular.eot');
    src: local('Neometric Alt Regular'), local('NeometricAlt-Regular'),
        url('NeometricAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-Regular.woff2') format('woff2'),
        url('NeometricAlt-Regular.woff') format('woff'),
        url('NeometricAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Bold.eot');
    src: local('Neometric Bold'), local('Neometric-Bold'),
        url('Neometric-Bold.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Bold.woff2') format('woff2'),
        url('Neometric-Bold.woff') format('woff'),
        url('Neometric-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt';
    src: url('NeometricAlt-HeavyItalic.eot');
    src: local('Neometric Alt Heavy Italic'), local('NeometricAlt-HeavyItalic'),
        url('NeometricAlt-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('NeometricAlt-HeavyItalic.woff2') format('woff2'),
        url('NeometricAlt-HeavyItalic.woff') format('woff'),
        url('NeometricAlt-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Italic.eot');
    src: local('Neometric Italic'), local('Neometric-Italic'),
        url('Neometric-Italic.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Italic.woff2') format('woff2'),
        url('Neometric-Italic.woff') format('woff'),
        url('Neometric-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neometric';
    src: url('Neometric-Heavy.eot');
    src: local('Neometric Heavy'), local('Neometric-Heavy'),
        url('Neometric-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Neometric-Heavy.woff2') format('woff2'),
        url('Neometric-Heavy.woff') format('woff'),
        url('Neometric-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

